<section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Organize Your Events in our Restaurant</p>
        </div>

        <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for item in events %}
            <div class="swiper-slide">
              <div class="row event-item">
                <div class="col-lg-6">
                  <img src="{{ item.photo.url }}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                  <h3>{{ item.title }}</h3>
                  <div class="price">
                    <p><span>${{ item.price }}</span></p>
                  </div>
                  <p class="fst-italic">
                    {{ item.desc }}
                  </p>
                  <ul>
                    {% if item.desc_caus_1 %}
                    <li><i class="bi bi-check-circled"></i>{{ item.desc_caus_1 }}</li>
                    {% endif %}
                    {% if item.desc_caus_2 %}
                    <li><i class="bi bi-check-circled"></i>{{ item.desc_caus_2 }}</li>
                    {% endif %}
                    {% if item.desc_caus_3 %}
                    <li><i class="bi bi-check-circled"></i>{{ item.desc_caus_3 }}</li>
                    {% endif %}
                    {% if item.desc_caus_4 %}
                    <li><i class="bi bi-check-circled"></i>{{ item.desc_caus_4 }}</li>
                    {% endif %}
                  </ul>
                  <p>
                    {{ item.last_desc }}
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>