{% extends 'index.html' %}

{% block main_content %}
      <main id="main">

    <!-- ======= About Section ======= -->

    {% include 'about.html' %}

    <!-- End About Section -->

    <!-- ======= Why Us Section ======= -->

     {% include 'whyus.html' %}

    <!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->

     {% include 'menu.html' %}

    <!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->

      {% include 'special.html' %}

     <!-- ======= Events Section ======= -->

      {% include 'events.html' %}

     <!-- End Events Section -->

     <!-- ======= Book A Table Section ======= -->

      {% include 'booktable.html' %}

     <!-- End Book A Table Section -->

     <!-- ======= Testimonials Section ======= -->

     {% include 'reviews.html' %}

     <!-- End Testimonials Section -->

     <!-- ======= Gallery Section ======= -->

     {% include 'gallery.html' %}

     <!-- End Gallery Section -->

     <!-- ======= Chefs Section ======= -->

     {% include 'chefs.html'%}

     <!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->

    {% include 'contact.html' %}

    <!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}